.form {
    width: 200px;
}

.content {
    border-radius: 5px;
    background-color: #EDF2F4;
    padding: 0 16px;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:30px;
}
