<div class="content">
    <h1>FAQ</h1>
    <pre class="paragraph">
The first question that you might ask is "why Players Unite?"

Well, to our knowledge, there isn't any service like the one we are providing, hence why we started the project. But when there will be, eventually, another platform to choose from, I think there are many reasons for sticking with us and to name a few: simplicity, security and a friendly environment.



"I just want to play with random people without making new friends. Can I still use the platform?"

Our intention was always to make a platform where everyone can play with anyone, as long as they are cool, regardless of whether they already have friends or not. So yes, you can always queue as a solo and the system will automatically find you random people to play with.
    </pre>
</div>
