<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    class="clickable"
    routerLink="/home"
    width="150"
    alt="Angular Logo"
    src={{fullLogoPath}}
  />
  <div class="spacer"></div>
  <a routerLink="/login" class="clickable">Log in</a>
</div>
<div class="spacer"></div>
<div class="row">
  <div class="col-2">
    <ul>
        <li><a routerLink="/home" class="clickable">Home</a></li>
        <li><a routerLink="/register" class="clickable">Sign up</a></li>
        <li><a routerLink="/profile" class="clickable">Profile</a></li>
        <li><a routerLink="/about" class="clickable">About</a></li>
        <li><a routerLink="/faq" class="clickable">FAQ</a></li>
        <li><a routerLink="/contact" class="clickable">Contact</a></li>
    </ul>
  </div>

  <div class="col-9">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="content" role="main"></div>
