<div class="content">
    <h1>Home</h1>
    <div class="create" (click)="createLobby()">Create lobby</div>
    <div class="layer" *ngFor="let lobby of lobbies">
        <div  class="lobby" *ngIf="lobby.participants.length!=lobby.party_size">
          <p class="title">{{ lobby.game }}     ---    {{ lobby.admin }}</p>
          <p class="capacity"> players {{ lobby.participants.length }}/{{ lobby.party_size }}</p>
          <div class="description">{{ lobby.description }}</div>
          <div (click)="addPlayer(lobby._id)" class="button">Join</div>
        </div>
    </div>
</div>
