<div class="content">
    <h1>Register</h1>
    <div class="form">
        <input class="input" type="text" placeholder="Username" (input)="validateUsername()" [(ngModel)]="username">
        <p class="validation">{{usernameMessage}}</p>
        <input class="input" type="email" placeholder="E-mail" (input)="validateEmail()" [(ngModel)]="email">
        <p class="validation">{{emailMessage}}</p>
        <input class="input" [type]="show ? 'text' : 'password'" placeholder="Password" (input)="validatePasswords()" [(ngModel)]="password">
        <p class="validation">{{passwordMessage}}</p>
        <input class="input" [type]="show ? 'text' : 'password'" placeholder="Repeat password" (input)="validatePasswords()" [(ngModel)]="confirmPassword">
        <p class="validation">{{confirmPasswordMessage}}</p>
        <input type="checkbox" (click)="onShowPassword()" placeholder="Show Password">Show Password<br>
        <button class="submit" #submit>Sign Up</button>
    </div>
</div>

