<div class="content">
    <h1>Register</h1>
    <form>
        <input id="username" class="input" type="text" placeholder="Username"><p class="validation" id="username-validation">&nbsp;</p>
        <input id="email" class="input" type="email" placeholder="E-mail"><p class="validation" id="email-validation">&nbsp;</p>
        <input id="password" class="input" [type]="show ? 'text' : 'password'" placeholder="Password"><p class="validation" id="password-validation">&nbsp;</p>
        <input id="confirmPassword" class="input" [type]="show ? 'text' : 'password'" placeholder="Repeat password"><p class="validation" id="confirmPassword-validation">&nbsp;</p>
        <input id="showPassword" type="checkbox" (click)="showPassword()" placeholder="Show Password">Show Password<br>
        <input id="submit" class="submit" type="submit" value="Sign Up"><br>
    </form>
</div>

